@font-face {
    font-family: "Iranian Sans";
    src: url('/static/fonts/irsans.ttf');
}

* {
    font-family: "Iranian Sans";
    direction: rtl;
    text-align: right;
}

.main-page {
    width: 360px;
    padding: 4% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

button, .form button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-align: center;
}

button, .form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

#errorDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

.inputLabelDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[name="avatar"] {
    margin-bottom: 30px;
}

.new-tweet-header {
    margin-bottom: 10px;
    text-align: center;
}

.tweetContent {
    resize: none;
}

.headerDiv {
    text-align: center;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#headerAvatar {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.headerDiv div {
    text-align: center;
    direction: rtl;
}

.tweet-link-div {
    text-align: center;
    margin: auto;
    max-width: 800px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.tweet-link-div button {
    width: 100.09%
}

.message-div {
    text-align: center;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-right: 5px;
}

.user-div {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    margin-top: 10px;
}

.user-div a {
    position: absolute;
    top: 23%;
    margin-right: 12px;
}

.user-div.feed a, .user-div.hashtag a {
    top: 36%;
}

.user-div button {
    height: 10px;
    font-size: 12px;
    padding-bottom: 24px;
}

.user-div button.no-follow {
    background: #d8993a;
}

.user-div button.followed {
    background: #cab18b;
}

.tweet-div {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    margin-top: 10px;
    padding: 10px;
}

.hashtags-div {
    border-top-style: dotted;
    border-top-width: 1px;
    padding-top: 6px;
}

.tweet-div > img {
    max-width: 339px;
    max-height: 165px;
}

.nonLoginUserHeader {
    margin-top: 100px;
    max-width: 600px;
}

.follow-link-div {
    text-align: center;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.follow-link-div button {
    width: 100.09%
}

.follow-link-div button.no-follow {
    background: #d8993a;
}

.follow-link-div button.followed {
    background: #cab18b;
}

.hashtags-div a {
    margin: 5px;
}

.like-div {
    padding-top: 20px;
    display: flex;
}

.like-div div:not(.heart) {
    padding-top: 26px;
    font-size: 13px;
}

.heart {
    width: 60px;
    height: 60px;
    background: url(/static/images/heart.png) no-repeat;
    background-position: -21px -18px;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}

.heart.is-active {
    transition-duration: 1s;
    background-position: -2821px -18px;
}

.header-links {
    border-top-style: ridge;
    padding-top: 15px;
}