<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/like-unlike.js" async></script>
    <script src="/static/js/profile.js" async></script>
    <title>فید</title>
</head>
<body>
{% include "header.html" %}
<div class="main-page" style="padding: 2%;">
    {% if len(tweets) %}
        <div style="text-align: center">
        <b>فید</b>
        </div>
        <br />
           {% for tweet in tweets %}
            <div class="tweet-div">
                {% if tweet[2] is not None %}
                <img src="/tweets/id/{{ tweet[0] }}/image">
                {% end %}
                <div>{{ tweet[1] }}</div>
                {% if tweet[3] is not None %}
                <br /><br />
                <div class="hashtags-div">
                    {% for hashtag in tweet[3] %}
                    <a href="/tweets/hashtag/{{ hashtag }}">{{ hashtag }}</a>
                    {% end %}
                </div>
                {% end %}
                <br/>
                <div class="like-div">
                    {% if tweet[5] %}
                    <div tweetId="{{ tweet[0] }}" class="heart is-active"></div>
                    {% else %}
                    <div tweetId="{{ tweet[0] }}" class="heart"></div>
                    {% end %}
                    <div id="tweet{{ tweet[0] }}LikesCount">{{ tweet[4] }}</div>
                    <div>&nbsp;نفر لایک کرده‌است</div>
                </div>
                <div class="user-div feed">
                    <img class="avatar" src="/avatar/{{ tweet[6] }}">
                    <a href="/@{{ tweet[7] }}">{{ tweet[7] }} - {{ tweet[8] }}</a>
                </div>
            </div>
           {% end %}
    {% else %}
        <div class="message-div">
            هیچ توییتی نیست!
        </div>
    {% end %}
</div>
</body>
</html>
