<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/follow-unfollow.js" async></script>
    <script src="/static/js/followers.js" async></script>
    <title>دنبال‌شونده‌های {{ page_username }}</title>
</head>
<body>
{% include "header.html" %}
<div class="main-page">
    {% if len(followings) %}
           <div class="message-div">دنبال‌شونده‌های <a href="/@{{ page_username }}">{{ page_username }}</a></div>
    <br />
           {% for following in followings %}
            <div class="user-div">
                <img class="avatar" src="/avatar/{{ following[0] }}">

                {% if int(following[0]) != int(user_id) %}
                    <a href="/@{{ following[1] }}">{{ following[1] }} - {{ following[2] }}</a>
                {% else %}
                     <a style="top: 36%;" href="/@{{ following[1] }}">{{ following[1] }} - {{ following[2] }}</a>
                {% end %}


                {% if int(following[0]) != int(user_id) %}
                    {% if following[3]%}
                    <button userId="{{ following[0] }}" class="followed">دنبال شده</button>
                    {% else %}
                    <button userId="{{ following[0] }}" class="no-follow">دنبال کن</button>
                    {% end %}
                {% end %}
            </div>
           {% end %}
    {% else %}
        <div class="message-div">
            هیچ دنبال‌شونده‌ای ندارد.
        </div>
    {% end %}
</div>
</body>
</html>
