<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/follow-unfollow.js" async></script>
    <script src="/static/js/followers.js" async></script>
    <title>دنبال‌کننده‌های {{ page_username }}</title>
</head>
<body>
{% include "header.html" %}
<div class="main-page">
    {% if len(followers) %}
           <div class="message-div">دنبال‌کننده‌های <a href="/@{{ page_username }}">{{ page_username }}</a></div>
    <br />
           {% for follower in followers %}
            <div class="user-div">
                <img class="avatar" src="/avatar/{{ follower[0] }}">
                <a href="/@{{ follower[1] }}">{{ follower[1] }} - {{ follower[2] }}</a>
                {% if int(follower[0]) != int(user_id) %}
                    {% if follower[3]%}
                    <button userId="{{ follower[0] }}" class="followed">دنبال شده</button>
                    {% else %}
                    <button userId="{{ follower[0] }}" class="no-follow">دنبال کن</button>
                    {% end %}
                {% end %}
            </div>
           {% end %}
    {% else %}
        <div class="message-div">
            هیچ دنبال‌کننده‌ای ندارد.
        </div>
    {% end %}
</div>
</body>
</html>
