<div class="headerDiv">
    <img id="headerAvatar" src="/avatar/{{ user_id }}">
    <br />
    <a href="/@{{ username }}">{{ username }} - {{ name }}</a>
    <br />
    <br />
    <div>
        <span><a href="/@{{ username }}/followers">دنبال کننده‌ها</a>: {{ followersCount }}</span>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <span><a href="/@{{ username }}/followings">دنبال شونده‌ها</a>: {{ followingCount }}</span>
    </div>
    <br />
    <br />
    <div class="header-links">
        <a href="/feed">فید</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/logout">خروج</a>
    </div>
    <br />
</div>
<div class="tweet-link-div">
        <button onclick="location.href='/new';">توییت جدید</button>
</div>