<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>ورود</title>
</head>
<body>
<div class="main-page">
    <div class="form">
        <form action="/login/" method="POST">
            <input autofocus name="username" type="text" placeholder="نام کاربری" value="{{ username }}"/>
            <input name="password" type="password" placeholder="رمز عبور"/>
            <button>ورود</button>
            {% if len(errors) %}
            <div id="errorDiv">
                خطاها:
                <ul>
                   {% for error in errors %}
                    <li>{{ error }}</li>
                   {% end %}
                </ul>
            </div>
            {% end %}
            <p class="message">ثبت نام نکرده‌اید؟ <a href="/signup/">یک حساب کاربری بسازید</a></p>
        </form>
    </div>
</div>
</body>
</html>
