<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>توییت جدید</title>
</head>
<body>
{% include "header.html" %}
<div class="main-page">
    <div class="form">
        <div class="new-tweet-header">توییت جدید</div>
        <form enctype="multipart/form-data" action="/new/" method="POST">
            <textarea autofocus class="tweetContent" required maxlength="280" name="content" rows="10" cols="41" placeholder="محتوای توییت">{{ content }}</textarea>
            <div class="inputLabelDiv">عکس توییت:</div>
            <input name="img" type="file" accept="image/*"/>
            <input name="hashtags" type="text" placeholder="هشتگ‌ها (با , جدا کنید)" value="{{ hashtags }}"/>
            <button>ارسال</button>
            {% if len(errors) %}
            <div id="errorDiv">
                خطاها:
                <ul>
                   {% for error in errors %}
                    <li>{{ error }}</li>
                   {% end %}
                </ul>
            </div>
            {% end %}
        </form>
    </div>
</div>
</body>
</html>
