<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/follow-unfollow.js" async></script>
    <script src="/static/js/like-unlike.js" async></script>
    <script src="/static/js/profile.js" async></script>
    <title>پروفایل {{ page_username }}</title>
</head>
<body>
{% include "header.html" %}

{% if username != page_username %}
<div class="headerDiv nonLoginUserHeader">
    <img id="headerAvatar" src="/avatar/{{ non_login_user_id }}">
    <br />
    <a href="/@{{ non_login_username }}">{{ non_login_username }} - {{ non_login_name }}</a>
    <br />
    <br />
    <div>
        <span><a href="/@{{ non_login_username }}/followers">دنبال کننده‌ها</a>: {{ non_login_followersCount }}</span>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <span><a href="/@{{ non_login_username }}/followings">دنبال شونده‌ها</a>: {{ non_login_followingCount }}</span>
    </div>
    {% if non_login_isFollowing %}
    <br />
    <div>شما را دنبال می‌کند</div>
    {% end %}
    <br />
</div>
<div class="follow-link-div">
        {% if non_login_isFollowed %}
        <button userId="{{ non_login_user_id }}" class="followed">دنبال شده</button>
        {% else %}
        <button userId="{{ non_login_user_id }}" class="no-follow">دنبال کن</button>
        {% end %}
</div>
{% end %}


<div class="main-page" style="padding: 2%;">
    {% if len(tweets) %}
           {% for tweet in tweets %}
            <div class="tweet-div">
                {% if tweet[2] is not None %}
                <img src="/tweets/id/{{ tweet[0] }}/image">
                {% end %}
                <div>{{ tweet[1] }}</div>
                {% if tweet[3] is not None %}
                <br /><br />
                <div class="hashtags-div">
                    {% for hashtag in tweet[3] %}
                    <a href="/tweets/hashtag/{{ hashtag }}">{{ hashtag }}</a>
                    {% end %}
                </div>
                {% end %}
                <br/>
                <div class="like-div">
                    {% if tweet[5] %}
                    <div tweetId="{{ tweet[0] }}" class="heart is-active"></div>
                    {% else %}
                    <div tweetId="{{ tweet[0] }}" class="heart"></div>
                    {% end %}
                    <div id="tweet{{ tweet[0] }}LikesCount">{{ tweet[4] }}</div>
                    <div>&nbsp;نفر لایک کرده‌است</div>
                </div>
            </div>
           {% end %}
    {% else %}
        <div class="message-div">
            {% if username != page_username %}
            هیچ توییتی ندارد.
            {% else %}
            هیچ توییتی نداری.
            {% end %}
        </div>
    {% end %}
</div>
</body>
</html>
