<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>ثبت نام</title>
</head>
<body>
<div class="main-page">
    <div class="form">
        <form enctype="multipart/form-data" action="/signup/" method="POST">
            <input autofocus name="name" type="text" placeholder="نام" value="{{ name }}"/>
            <input name="username" type="text" placeholder="نام کاربری" value="{{ username }}"/>
            <input name="email" type="text" placeholder="ایمیل" value="{{ email }}"/>
            <div class="fileInputLabelDiv">عکس پروفایل:</div>
            <input name="avatar" type="file" accept="image/*"/>
            <input name="password" type="password" placeholder="رمز عبور"/>
            <input name="password_repeat" type="password" placeholder="تکرار رمز عبور"/>
            <button>ثبت نام</button>
            {% if len(errors) %}
            <div id="errorDiv">
                خطاها:
                <ul>
                   {% for error in errors %}
                    <li>{{ error }}</li>
                   {% end %}
                </ul>
            </div>
            {% end %}
        </form>
        <p class="message">قبلا ثبت نام کرده‌آید؟ <a href="/login/">وارد شوید</a></p>
        </form>
    </div>
</div>
</body>
</html>
